/* font url import */
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Fira+Sans&family=Lato&family=Podkova&family=Poppins&family=Port+Lligat+Slab&display=swap');

/* common style */
body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
}
/* top player style */
.top-section{
    width: 870px;
    background: #FFFFFF;
    padding: 30px;
    margin-top: 20px;
}
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color:  #562EFF;
    font-size: 24px;
}
.players{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
}
hr{
    border: 1px solid #D1D1D1;
}

/*__________ top blog styling ______________*/
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
   height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
   text-decoration: none;
   color: #562EFF;
   font-size: 16px;
}